html{ 
    background-color: black;
}

h1{
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
}

a {
    color: antiquewhite; 
}

p{color: antiquewhite;}

label{
    color: antiquewhite;
}
